<table class="detail-view" id="yw0">
    <tr>
        <th>ID</th>
        <td>{{order.id}}</td>
    </tr>
    <tr>
        <th>Total</th>
        <td>{{order.total}}</td>
    </tr>
    <tr>
        <th>Track Number</th>
        <td>{{order.track_number}}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{order.status}}</td>
    </tr>
    <tr>
        <th>From</th>
        <td>{{order.from_address}}</td>
    </tr>
    <tr>
        <th>To</th>
        <td>{{order.to_address}}</td>
    </tr>
</table>