 <!--Menu page-->
      <div class="swiper-slide sliderbg_menu">
          <div class="swiper-container swiper-nested">
                   <div class="swiper-wrapper">
                        <div class="swiper-slide">
                                  <div class="slide-inner">
                                        <div class="logo"><a href="#"></a></div>
                                        <div class="menu">
                                        <ul>
                                        <li><a ng-click="go('my_account')" ><img src="images/icons/about.png" alt="" title="" /><span>My Account</span></a></li>
                                        <li><a ng-click="go('orders')" ><img src="images/icons/docs.png" alt="" title="" /><span>Orders</span></a></li>
<!--                                        <li><a ng-click="go('my_account')" ><img src="images/icons/tools.png" alt="" title="" /><span>Services</span></a></li>
                                        <li><a ng-click="go('my_account')" ><img src="images/icons/blog.png" alt="" title="" /><span>News</span></a></li>
                                        
                                        <li><a ng-click="go('my_account')" ><img src="images/icons/photos.png" alt="" title="" /><span>Gallery</span></a></li>
                                        <li><a ng-click="go('my_account')" ><img src="images/icons/videos.png" alt="" title="" /><span>Videos</span></a></li>
                                        <li><a ng-click="go('my_account')" ><img src="images/icons/clients.png" alt="" title="" /><span>Clients</span></a></li>-->
                                        <li><a ng-click="go('logout')" ><img src="images/icons/logout.png" alt="" title="" /><span>Logout</span></a></li>
                                        <li><a ng-click="go('contact_us')" ><img src="images/icons/contact.png" alt="" title="" /><span>Contact Us</span></a></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                        </div>
                                 </div>
                         </div>
                   </div>
                  <div class="swiper-scrollbar"></div>
          </div> 
      </div>